main {
  display: flex;
  flex-direction: column;
}

section.hero-section {
  height: 100vh;
  background-repeat: no-repeat;
  background-color: #ED595B;
  background-position: 50% 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

section.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.185);
  z-index: 1;
}

.hero-text {
  width: fit-content;
  margin: auto;
  position: relative;
  z-index: 2;
  margin-bottom: 15rem !important;
}

.hero-text {
  width: fit-content;
  margin: auto;
}

.hero-text h2 {
  font-size: 3rem;
  color: var(--light-color);
  margin-bottom: 1rem;
  font-weight: bolder;
}

.season-separator {
  text-align: center;
  margin: 2rem 0;
  color: var(--second-secondary-color);
}

.carousel-recipes {
  height: calc(100vh - 100px);
}

section.call-to-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  padding: 2rem;
}

button.explore-button {
  background-color: var(--main-color);
  color: var(--light-color);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
}
button.explore-button:hover {
  background-color: var(--secondary-color);
}

section.call-to-action h3 {
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: 1rem;
}
section.call-to-action p {
  font-size: 1.2rem;
  color: var(--main-color);
  margin-bottom: 2rem;
}

section.call-to-action .text-ctc{
  text-align: left;
}

.image-ctc {
  width: 100%;
  height: 50%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  background-image: url("http://localhost:5000/images/recipe/default.jpg");
  background-size: cover;
  display: block; /* Ensure it behaves as a block element */
}

