.modal {
    opacity: 0;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: all 0.3s;

}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--second-main-color);
    border-bottom: 2px solid var(--second-main-color);
    width: 50%;
    text-align: left ;
    padding: 20px;
    background-color: var(--secondary-light-color)
}

.modal.open {
    opacity: 1;
    display: flex;
    z-index: 1000;
    pointer-events: all;
    transition: all 0.3s;
}

.modal-content {
    background-color: var(--secondary-light-color);
    width: 50%;
    padding: 20px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: var(--secondary-light-color);
    cursor: pointer;
    transition: all 0.3s;
}

.close:hover {
    color: red;
    transition: all 0.3s;
}

.ingredient-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    transition: all 0.3s;
}

.ingredient-container > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ingredient-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--gris-clair);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;   
}