section.recipe-list {
  flex-grow: 1;
}

.recipe-list button {
  background-color: var(--main-color);
  color: var(--secondary-light-color);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  float: right;
}

.recipe-list h2 {
  text-align: center;
}

.recipe-list ul {
  margin: auto;
  padding: 0;
  width: fit-content
}

.recipe-list li {
  list-style: none;
  padding: 5px 10px;
  background-color: var(--secondary-light-color);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}